<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="cadastro_endereco.css">
    </head>
    <body>
    <form method="post">
        <div>
            
            <h3>Dados Pessoais</h3>
      
            <label>Nome</label>
            <input type="text" value="" name="nome">
            <br><br>
            <label>CPF</label>
            <input type="text" value="" name="cpf">
            <br><br>
            <label>RG</label>
            <input type="text" value="" name="rg">
            <br><br>
            <label>Sexo</label>
            <select name="sexo">
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
            </select>
            <br><br>
            <label>Data de Nascimento</label>
            <input type="date" value="" name="dataNacimento">
            <br><br>
          
            <h3>Dados de Contato </h3>
           
            <label>Telefone</label>
            <input type="text" value="" name="telefone">
            <label>Tipo</label>
            <select name="tipo">
                <option value="celular">Celular</option>
                <option value="residencial">Residencial</option>
                <option value="Comercial">Comercial</option>
            </select>
            <br><br>
            <label>E-Mail</label>
            <input type="text" value="" name="email">
            <br><br>
           
            <h3>Endereço</h3>
            <label>CEP</label>
            <input type="text" value="" name="cep">
            <br><br>
            <label>Pais</label>
            <input type="text" value="" name="pais">
            <label>ISO</label>
            <input type="text" value="" name="iso">
            <br><br>
            <label>Estado</label>
            <input type="text" value="" name="estado">
            <label>U.F</label>
            <input type="text" value="" name="uf">
            <br><br>
            <label>Cidade</label>
            <input type="text" value="" name="cidade">
            <br><br>
            <label>Bairro</label>
            <input type="text" value="" name="Bairro">
            <br><br>
            <label>Rua</label>
            <input type="text" value="" name="rua">
            <label>Número</label>
            <input type="number" value="" name="numero">
            <br><br>
            <label>Complemento</label>
            <input type="text" value="" name="complemento">
            <br><br>
            <label>Observação</label>
            <input type="text" value="" name="observacao">
            <button type="submit">Enviar</button>
        </div>
       </form> 
    </body>
</html>